<!DOCTYPE html>
<html ng-app="recipeBook">
    <head lang="en">
        <meta charset="UTF-8">
        <title>Arasaia - Recipe Book</title>
    </head>
    <body ng-controller="RecipeController as recipe">
        <ul id="controller-init">
            <li class="RecipeController-init"></li>
            <li class="ingredients-display-init"></li>
        </ul>
        <p>1 + 2 = {{ 1 + 2 }}</p>
        <div class="list-group">
            <recipe-ingredients></recipe-ingredients>
            <!--<ul class="list-unstyled">
                <li ng-repeat="ingredient in recipe.ingredients">{{ingredient.name}}</li>
            </ul>-->
            <!--<ul class="list-unstyled">
                <li ng-repeat="ingredient in recipe.ingredients">{{ingredient.amount + " " + ingredient.measure_name + " " + ingredient.name}}</li>
            </ul>-->
        </div>
    </body>

    <!-- jQuery -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js"></script>

    <!-- jQuery UI -->
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="http://arasaia.net/test/recipe/css/bootstrap.min.css">-->

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>


    <!-- X-editable -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>

    <!-- Angular.js -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/ingredients.js"></script>
</html>