<!DOCTYPE html>
<html ng-app="recipeBook">
    <head lang="en">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Arasaia - recipe-book</title>
    </head>
    <body ng-controller="RecipeBookController as recipeBook">
        <div class="container">
            <p>1 + 2 = {{ 1 + 2 }}</p>
            <section ng-controller="TabController as tab">
                <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
                    <div class="container">
                        <div class="navbar-header">
                            <!-- the hamburger menu when the viewport is too small -->
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <!-- creates the "hamburger" look -->
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">recipe-book</a>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li ng-class="{active:tab.isSet(1)}"><a href ng-click="tab.setTab(1)">menus</a></li>
                                <li ng-class="{active:tab.isSet(2)}"><a href ng-click="tab.setTab(2)">recipes</a></li>
                                <li ng-class="{active:tab.isSet(3)}"><a href ng-click="tab.setTab(3)">ingredients</a></li>
                                <li ng-class="{active:tab.isSet(4)}"><a href ng-click="tab.setTab(4)">measures</a></li>
                                <li ng-class="{active:tab.isSet(5)}"><a href ng-click="tab.setTab(5)">types</a></li>
                                <!--<li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">dropdown<span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li class="dropdown-header">Nav header</li>
                                        <li><a href="#">Separated link</a></li>
                                        <li><a href="#">One more separated link</a></li>
                                    </ul>
                                </li>-->
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div>
                </nav>
                <div class="tab" ng-show="tab.isSet(1)">
                    This is the list of menus.
                </div>
                <div class="tab" ng-show="tab.isSet(2)">
                    This is the list of recipes.
                </div>
                <div class="tab" ng-show="tab.isSet(3)">
                    <all-ingredients></all-ingredients>
                </div>
                <div class="tab" ng-show="tab.isSet(4)">
                    <all-measures></all-measures>
                </div>
                <div class="tab" ng-show="tab.isSet(5)">
                    This is the list of food types.
                    <all-types></all-types>
                </div>
            </section>
        </div>
    <div id="errorMessageDiv" class="alert alert-danger"></div>
    <div id="successMessageDiv" class="alert alert-success"></div>
    </body>

    <!-- jQuery -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js"></script>

    <!-- jQuery UI -->
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- Optional theme -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">-->

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <!-- Angular.js -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>

    <!-- X-editable (Angular version) -->
    <link  rel="stylesheet" href="css/xeditable.css">
    <script type="text/javascript" src="js/xeditable.min.js"></script>

    <!-- App code -->
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/pieces.js"></script>
    <link rel="stylesheet" href="css/recipebook.css" />
</html>