<div class="row">
    <div class="col-sm-5">
        <a href="#" class="list-group-item"
            ng-repeat="type in recipeBook.allTypes"
            ng-attr-data-type-id="{{type.id}}">
            <span
                editable-text="type.name"
                onbeforesave="updateTypeName($data, type.id)"
                class="list-group-item-heading">
                {{type.name}}
            </span>
            <span class="glyphicon glyphicon-remove float-right" ng-click="removeTypeByID(type.id)"></span>
        </a>
        <div id="addType">
            <a href="#" class="list-group-item">
                <input type="text" ng-model="recipeBook.newTypeName" placeholder="New Type" id="newTypeNameInput"/>
                <span class="glyphicon glyphicon-plus float-right" ng-click="addType()"></span>
            </a>
        </div>
    </div>
</div>