<div class="row">
    <div class="col-sm-1">
        <a href
           class="list-group-item"
           ng-repeat="ingredient in recipe.ingredients"
           ng-attr-data-recipe="{{ingredient.recipe_id}}"
           ng-attr-data-ingredient="{{ingredient.id}}">
            <span editable-text="ingredient.amount">{{ingredient.amount}}</span>
            <span editable-text="ingredient.measure_name">{{ingredient.measure_name}}</span>
            <span editable-text="ingredient.name">{{ingredient.name}}</span>
        </a>
        <!--<ul class="list-group list-unstyled">
            <li class="list-group-item" ng-repeat="ingredient in recipe.ingredients">{{"" + ingredient.measure_amount + " " + ingredient.measure + " " + ingredient.name}}</li>
        </ul>-->
    </div>
</div>